 .fondo{
    background-color:black;
}

.fondo1{
    background-color:rgb(85, 0, 127);
}

.fondo3{
    background-color:aqua;
}

.foto{
    width: 100%;
    height: 100%;
}


.carousel-item{
    height: 80vh;
    min-height: 300px;
    background: no-repeat center center scroll;
}