/* HOJA DE ESTILOS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;      
}

body{
    min-height: 1000px;

}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
    transition: 0.6s;
    background: rgb(24,25,26);
}

header .logo{
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul{
    display:flex;
    justify-content: center;
    align-items: center;
}


header ul li{
    list-style: none;
}

header ul li a{
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 400;
}

header.sticky{
    padding: 5px 100px;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

header.sticky .logo,
header.sticky ul li a
{
    color: #000;
}

.Banner {
    width: 100%;
    min-height: 100vh;
    background-image: url(/assets/bg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.Banner h2{
    color: #fff;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;

}

.Banner h2 span{
    color: #4978ff;
}

.sec{
    background: #fff;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sec .content{
    position: relative;
    text-align: center;
    width: 100%;

}

.mxw800p{
    max-width: 800px;
    margin: 0 auto;
}

.btn{
    display: inline-block;
    background: #000;
    color:#fff;
    padding: 10px 30px;
    text-decoration: none;
    
}

h3{
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;
}

p{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;

}

.services{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
}

.services .box{
    width: 300px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 20px 25px rgba(0,0,0,0.5);
}

.services .box .iconBx{
    margin-top: 25px;
}

.services .box .iconBx img{
    max-width: 70px;
    margin-bottom: 15px;
}

.services .box h2{
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.stats{
    background: #000;
    padding-top: 250px;
    margin-top: -250px;
}

.stats h3,
.stats p
{
    color: #fff;
}

.statsBox{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
}

.statsBox h2{
    color: #fff;
    font-size: 36px;
}

.statsBox h4{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.workBx{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    max-width: 100%;
    margin: 40px;
}

.workBx .brand{
    position: relative;
    background: #4978ff;
    height: 330px;
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workBx .brand:hover{
    background: #000;
}

.workBx .brand a{
    text-decoration: none;
    color: rgba(225,225,225, 0.4);
    text-transform: uppercase;
}

.teamBx{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
    margin-top: 40px;
}

.teamBx .member{
    position: relative;
    background: #000;
    min-height: 300px;
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamBx .member .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.teamBx .member .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.teamBx .member .details{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    transition: 0.2s;
    opacity: 0;
}

.teamBx .member .details:hover{
    opacity: 1;
}

.teamBx .member .details h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
}

.teamBx .member .details h2 span{
    display: block;
    font-size: 12px;
    font-weight: 300;
}

/*Slider*/

.slider{
    position: relative;
}

.slider-items{
    overflow: hidden;
}
@keyframes zoom{
    0% { transform: scale(1.2); opacity: 0;}
    100%{ transform: scale(1); opacity: 1;}
    }

.slider-items .item{
    display: none;
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    animation: zoom 1s;
}

.slider-items .item img{
    max-width: 100%;
    display: block;
}

.slider-items .item.active{
    display: block;
}

.slider-items .item .caption{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #000;
    background: rgba(225,225,225, 0.5);
    font-size: 20px;
}


.slider .left-slide, .slider .right-slide{
    position: absolute;
    height: 40px;
    width: 40px;
    background: #444444;
    color: #fff;
    font-size: 20px;
    text-align: center;
     line-height: 40px;
     border-radius: 50%;
     cursor: pointer;
     transition: all .5s ease;
     top: 50%;
     transform: translateY(-50%);
     
}

.slider .left-slide{
    left: 10px;
}

.slider .right-slide{
    right: 10px;
}

.slider .left-slide:hover,
.slider .right-slide:hover{
    background: #46a2fd;
}

.contact{
    background:rgba(161, 159, 159, 0.684);
}

#button-up{
    width: 60px;
    height: 60px;
    background: #46a2fd;
    border-radius: 50%;
    cursor: pointer;
    border: 4px solid transparent;

    position: fixed;
    bottom: 50px;
    right: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    font-size: 20px;

    transition: all 300ms ease;
    transform: scale(1);
    box-shadow: 0px 20px 25px rgba(0,0,0,0.5);

}

#button-up:hover{
    transform: scale(1.1);
    border-color: rgba(0,0,0,0.1);

}
@media (max-width: 992px){
    .toggle{
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        
    }

    .toggle::before{
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index : 1;
        box-shadow: 0 10px 0 #000;
        transition: 0.5s; 
    }

    .toggle:after{
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        transition: 0.5s;
    }

    header,
    header.sticky{
        padding: 5px 50px;
        background: #fff;
    }

    header .logo,
    header ul li a{
        color: #000;
    }

    header ul{
        position: absolute;
        top: 59px;
        left:0;
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: auto;
        visibility: hidden;
        background: #fff;
        opacity: 0;
    }

    header.active ul{
        visibility: visible;
        opacity: 1;
        display: block;
        padding-top: 20px;
    }

    header.active ul li a{
        display: inline-block;
        margin: 10px 0;
        font-size: 20px;
    }

    .Banner{
        background-position: center;
    }

    .Banner h2{
        font-size: 60px;
        padding: 0 50px;
    }

    .sec{
        padding: 100px 50px 50px 50px;
    }

    .services .box{
        width: 100%;
    }

    .stats{
        padding-top: 250px;   
    }

    .row100{
        flex-direction: column;
    }

    .contactForm .row100 .inputBx50,
    .contactForm .row100 .inputBx50
    {
        width: 100%;
        margin: 0;
    }
    body {
        /*min-height: 75rem;*/
        /*background-image: url("https://assets.awwwards.com/awards/images/2015/04/pattern.jpg");*/
        background-color: #F8F9FA;
        padding-top: 86px;
        
      } 
      
      #logoBookStop{
        color: #3C92D8;
        font-size: 20px;
        text-decoration: none;
        margin-right: 16px;
        padding-top: 3px;
      }
      
      #logoBookStop img{
        margin-right: 7px;
        margin-bottom: 3px;
      }
      
      #logoBookStop:hover{
        filter: invert(42%) sepia(99%) saturate(2844%) hue-rotate(341deg) brightness(95%) contrast(91%);
      }
      
      .navbar{
        -webkit-box-shadow:0px 2px 2px #dddddd;
        -moz-box-shadow:0px 2px 2px #dddddd;
        box-shadow:0px 2px 2px #dddddd;
        position: fixed;
        z-index: 1;
        display: flex;
        transition: 0.3s;
        width: 100%;
        top: 0;
      }
      
      #carousel1{
        position: relative;
        z-index: 0;
      }
      
      
      #userBookStop{
        color: #3C92D8;
        font-size: 10px;
        text-decoration: none;
      }
      
      #userBookStop:hover{
        filter: invert(42%) sepia(99%) saturate(2844%) hue-rotate(341deg) brightness(95%) contrast(91%);
      }
      
      #userBookStop img{
        margin-right: 5px;
        margin-bottom: 3px;
      }
      
      #btnBuscar{
        border-color: #e94f37; 
        color: #e94f37;
        margin-right: 20px;
        margin-left: -5px;
      }
      
      #btnBuscar:hover{
        background-color: #e94f37; 
        color: #ffffff;
      }
      
      #btnRegistrarse{
        border-color: #007BFF; 
        color: #007BFF;
      }
      
      #btnRegistrarse:hover{
        background-color: #0069D9; 
        color: #ffffff;
      }
      
      #titLogo{
        color: #3C92D8; 
        margin-left: 7px;
      }
      
      #titLogo:hover{
        filter: invert(42%) sepia(99%) saturate(2844%) hue-rotate(341deg) brightness(95%) contrast(91%);
      }
      
      #qSomos{
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 0;
        background-color: #F8F9FA;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #596272;
      }
      
      #qSomos h1{
        color: #212529;
      }
      
      #qSomos h2{
        color: #e94f37;
      }
      
      .card{
        -webkit-box-shadow: 0px 0px 4px #c5c5c5;
        -moz-box-shadow: 0px 0px 4px #c5c5c5;
        box-shadow: 0px 0px 4px #c5c5c5;
        border-radius: 7px;
        margin-bottom: 20px;
        text-align: justify;
        padding: 5px;
        color: #596272;
      }
      
      .card img{
        width: 180px;
      }
      
      div>h4{
        color: #212529;
      } 
      
      .newsletter{
        background-color: #212529;
        color: white;
        padding-bottom: 5px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 7px;
        -webkit-box-shadow: 0px 0px 7px #c5c5c5;
        -moz-box-shadow: 0px 0px 7px #c5c5c5;
        box-shadow: 0px 0px 7px #818181;
        align-items: center;
        font-size: 18px;
      }
      
      #newsletter h2{
        color: white;
      }
      
      #btnNewsletter{
        background-color: #e94f37; 
        border-color: #e94f37;
      }
      
      #btnNewsletter:hover{
        background-color: #e23c22; 
        border-color: #e23c22;
      }
      
      #top10{
        background-color: #ffffff;
        padding: 20px 20px 20px 0px;
        margin-right: 0px;
        margin-left: 0px;
        -webkit-box-shadow: 0px 0px 4px #c5c5c5;
        -moz-box-shadow: 0px 0px 4px #c5c5c5;
        box-shadow: 0px 0px 4px #c5c5c5;
        border-radius: 7px;
        align-items: center;
        color: #596272;
      }
      
      #top10 h3{
        color: #212529;
      }
      
      #linkLibro{
        color: #e94f37; 
        text-decoration: none;
      }
      
      #linkLibro:hover{
        color: #3C92D8; 
      }
      
      footer{
        padding: 20px;
        color: #c5c5c5;
        background-color: #000;
        height: 280px;
        margin-top: 30px;
      }
      
      footer div p{
        font-size: 12px;
        color: #d9d1d1;
        padding-top: 5px;
        line-height: 10px;
      }
      
      #linkFooter{
        color: #c5c5c5;
        text-decoration: none;
      }
      
      @media (max-width:991px){
        header label{
            display: block;
        }
        footer{
          height: 500px;
        }
        .carousel-caption{
          color: transparent;
        }
      }   
    
}